<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweets</title>
</head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Artworks</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
 <!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script> -->


        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>

    <script>

         $(document).ready(function(){

            console.log("aaaaa");
             $.getJSON("/tweets/polaridad/", function (jsonFromFile) {
                $('#table_2').bootstrapTable({
                    data: jsonFromFile.data
                })
             });


             $('#btnSearch').on('click', function (e) {

                var $selected_option = $('input[name=optradio]:checked').val();
                console.log($selected_option);

                var $screen = $('#screen').val();
                console.log($screen);
                 var $mes = $('#mes').val();
                console.log($mes);
                 var $anio = $('#anio').val();
                console.log($anio);

                var $url_regex_filter = "/tweets/" + $screen + "/" + $mes + "/" + $anio + "/busquedaPorFecha/";


                console.log($url_regex_filter)

                $.getJSON($url_regex_filter, function (jsonFromFile) {
                 console.log('aaaaaa')
                    data = {data: jsonFromFile.data}
                    $('#table_3').bootstrapTable(data);
                });
         });



            $('#btnSearch_2').on('click', function (e) {


                var $url_evolucion = "/tweets/evolucion/";
                console.log($url_evolucion)

                $.getJSON($url_evolucion, function (jsonFromFile) {

                    data = {data: jsonFromFile.data}
                    console.log("data:" + data);
                    <!--$('#table_3').bootstrapTable(data);-->

                    <!--document.getElementById("graphImage").src = "{% static 'artworks/grafo_pru.png' %}"-->

                    document.getElementById("graphImage1").src = "{% static 'tweets/petrogustavoSeguidores.png' %}";
                    document.getElementById("graphImage2").src = "{% static 'tweets/sergio_fajardoSeguidores.png' %}";
                    document.getElementById("graphImage3").src = "{% static 'tweets/IvanDuqueSeguidores.png' %}";
                    document.getElementById("graphImage4").src = "{% static 'tweets/DeLaCalleHumSeguidores.png' %}";
                    document.getElementById("graphImage5").src = "{% static 'tweets/German_VargasSeguidores.png' %}";


                    document.getElementById("graphImage6").src = "{% static 'tweets/petrogustavoFavoritos.png' %}";
                    document.getElementById("graphImage7").src = "{% static 'tweets/sergio_fajardoFavoritos.png' %}";
                    document.getElementById("graphImage8").src = "{% static 'tweets/IvanDuqueFavoritos.png' %}";
                    document.getElementById("graphImage9").src = "{% static 'tweets/DeLaCalleHumFavoritos.png' %}";
                    document.getElementById("graphImage10").src = "{% static 'tweets/German_VargasFavoritos.png' %}";

                });
         });




         });

    </script>


<body>

<style media="screen" type="text/css">

    table {
      border: 1px solid black;
      overflow-x: scroll;
      max-height: 350px;
    }

    td,
    th {
      border: 1px solid black;
      width: 1%;
    }

    .table-fixed thead {
      width: 100%;
    }

    .table-fixed tbody {
      height: 500px;
      overflow-y: scroll;
      width: 100%;
    }



    table tbody, table thead
    {
        display: block;
    }
    table tbody
    {
       overflow: auto;
       height: 100px;
       width: 100%;
    }

</style>

<container>
    <panel >
        <h3>Análisis de sentimientos</h3>

        <table id="table_2" class="table-fixed table table-bordered table-striped">

                <thead class="thead-dark">
                    <tr>
                        <th data-field="hashtag">Hashtag</th>
                        <th data-field="tema">Tema</th>
                        <th data-field="full_text">Tweet</th>
                        <th data-field="clase">Polaridad</th>
                    </tr>
                </thead>
        </table>

    </panel>

    <panel>

                <label>Nick:</label>
                <input type="text" class="form-control" id="screen">
                <label>Mes:</label>
                <input type="text" class="form-control" id="mes">
                <label>Año:</label>
                <input type="text" class="form-control" id="anio">
                <button type="button" class="btn btn-primary" id="btnSearch">Buscar</button>

            <table id="table_3" class="table-fixed table table-bordered table-striped" >

                <thead class="thead-dark">
                    <tr>
                        <th data-field="screen_name">Nick Autor</th>
                        <th data-field="name">Nombre Autor</th>
                        <th data-field="full_text">Texto</th>
                        <th data-field="created_at">Fecha creación</th>

                        <th data-field="tweet_favourites_count">Tweet Favoritos</th>
                        <th data-field="followers_count">Seguidores Autor</th>
                        <th data-field="hashtags">Hastags Tweet</th>
                        <th data-field="user_mentions">Meenciones Tweet</th>
                        <th data-field="esRetweet">Es Retweed</th>
                        <th data-field="retweet_nombre">Autor R</th>
                        <th data-field="retweet_screen_name">Nick Autor R</th>


                    </tr>
                </thead>
            </table>

    </panel>

    <panel>
        <h3>Evolución en el tiempo</h3>
        <button type="button" class="btn btn-primary" id="btnSearch_2">Visualizar evolución</button>
        <div>
                <img id="graphImage1" src="#" alt="Aquí se mostrará imagen"/>
                <img id="graphImage2" src="#" alt="Aquí se mostrará imagen"/>
                <img id="graphImage3" src="#" alt="Aquí se mostrará imagen"/>
                <img id="graphImage4" src="#" alt="Aquí se mostrará imagen"/>
                <img id="graphImage5" src="#" alt="Aquí se mostrará imagen"/>
         </div>
        <div>
            <img id="graphImage6" src="#" alt="Aquí se mostrará imagen"/>
            <img id="graphImage7" src="#" alt="Aquí se mostrará imagen"/>
            <img id="graphImage8" src="#" alt="Aquí se mostrará imagen"/>
            <img id="graphImage9" src="#" alt="Aquí se mostrará imagen"/>
            <img id="graphImage10" src="#" alt="Aquí se mostrará imagen"/>
        </div>


    </panel>

</container>


</body>
</html>