<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taller 1 Big Data</title>
</head>
<body>
    <div class="container">
        <p>GRUPO 1:</p>


        <p>Claudia Patricia Rincón </p>
        <p>Yacir Andŕes Ramirez Acevedo</p>
        <p>Oscar Eduardo Acero Acero</p>

         <p>----------------------------</p>

         <p>Enlace a Punto 1</p>
         <a href="/rss_feed">RSS Feed</a>
        <p>Enlace a Punto 2</p>
        <a href="/crawler">Profesores, Noticias y Eventos</a>
    </div>
</body>
</html>