<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talleres Big Data</title>
</head>
<body>
    <div class="container">
        <p>GRUPO 1:</p>


        <p>Claudia Patricia Rincón </p>
        <p>Yacir Andŕes Ramirez Acevedo</p>
        <p>Oscar Eduardo Acero Acero</p>
        <p></p>

        <p>----------------------------</p>
         <p>Taller 1</p>

         <p>Enlace a Punto 1</p>
         <a href="/rss_feed">RSS Feed</a>
        <p>Enlace a Punto 2</p>
        <a href="/crawler">Profesores, Noticias y Eventos</a>
        <p>----------------------------</p>

        <p>----------------------------</p>
        <p>Taller 2</p>
        <p>----------------------------</p>
        <p>Enlace a Punto 2</p>
        <a href="/artworks">Grafo Obras de Arte en Wikipedia</a>

        <p>----------------------------</p>
        <p>Taller 3</p>
        <p>----------------------------</p>
        <p>Enlace</p>
        <a href="/tweets">Análsis Tweets Elecciones 2018</a>



    </div>
</body>
</html>